.btn,
.btn:link,
.btn:visited {
    display: inline-block;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;

    background-image: var(--color-gradient-primary);
    background-size: 240%;
    background-position: 5%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    padding: 20px 35px;
}

.btn:hover {
    background-position: 60%;
}
