* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;

    --color-primary-1: #f55f8d;
    --color-primary-2: #f8ae56;

    --color-text-dark: #262626;
    --color-text-light: #636363;

    --height-header: 140px;
}

body,
html {
    color: var(--color-text-light);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container-full {
    width: 100%;
}

/* TYPOGRAPHY 
===============================================================*/
.heading__primary {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: var(--color-text-dark);
    margin-bottom: 20px;
}

.heading__primary-decs {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-primary-1);
}

.heading__secondary-large {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-text-dark);
}

.heading__secondary-standard {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-dark);
    margin: 15px 0;
}

.heading__secondary-small {
    font-size: 1.375rem;
    font-weight: 800;
    color: var(--color-text-dark);
    line-height: 26px;
    margin-bottom: 5px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

/* HEADER 
===============================================================*/
.header-section {
    position: absolute;
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header__nav ul li {
    cursor: pointer;
}

.header__nav ul li a {
    color: var(--color-text-dark);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.2s;
}

.header__nav ul li:hover a {
    animation: UpToDown 0.3s;
    color: var(--color-primary-1);
}

.header__nav ul li a i {
    font-size: 8px;
}

/* HERO 
===============================================================*/
.hero-section {
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}
.hero {
    display: flex;
    padding-top: var(--height-header);
}

.hero__left {
    padding-top: 100px;
    padding-right: 70px;
}

.hero__left-list {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero__left-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__left-item i {
    background: linear-gradient(
        to right,
        var(--color-primary-1) 0,
        var(--color-primary-2) 71%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

/* keyframes 
===============================================================*/

@keyframes UpToDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(100%);
        opacity: 0;
    }
    51% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
